/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-color: #8eb9ff;
    background-repeat: no-repeat;
    background-size: 100000px;
}

.cabeçalho {
    height: 60px;
    width: 100%;
    color: blueviolet;
    background-color: aqua;
    font-size: 2em;
    text-align: center;
}

.titulo {
    color: orange;
    font-size: 1.75em;
    text-align: center;
}

.texto {
    color: brown;
    font-size: 1em;
    text-align: center:

}

.subtitulo {
    color: orange;
    font-size: 1.50em;
    text-align: center;
}

table,th,td {
    border: 4px solid crimson;
    background-color: aliceblue;
}

.centro {
    margin-left: auto;
    margin-right: auto;
}

.lista_inordenada {
    list-style-type: square;
    color: blueviolet;
    font-size: 1em;
    text-align: center;
    text-shadow: 3px 2px black;
}

.lista_ordenada {
    list-style-type: upper-roman;
    color: blueviolet;
    font-size: 1em;
    text-align: center;
    text-shadow: 3px 2px black;
}

.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.form_input {

    border: 4px solid crimson;
}